:root {
  --col-white: #F7F9FF;
  --col-main: #39723F;
  --col-dark: #203F23;
}


body {
  background: var(--col-white);
  padding: 16px;
  margin: 0;
  height: 100%;
}

h1, h2, p, a, span, center, div, button {
  font-family: Google Sans Text, Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 1.5;
}

:target {
  border: 2px solid var(--col-dark);
  padding: 2px;
}

a {
  font-weight: bold;
  color: var(--col-main);
  text-decoration: none;
}

a:hover {
  color: var(--col-dark);
  text-decoration: underline;
}

pre {
  overflow: auto;
}

ol, ul {
  padding-left: 24px;
}

#contents {
  margin-bottom: 32px;
}

@media (min-width: 700px) {

  body {
    padding-left: calc((100% - 700px) / 2);
    padding-right: calc((100% - 700px) / 2);
  }

}